
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>About Us</h3>
                <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p>Started in 2015, The South african Fishing Log Application came about through the culmination of various campfire stories about <em>The One that got away.</em> </p>
                <p>As a couple of fishing buddies, with fortunately a few developers between us, we got to thinking and eventually hashed out a plan of how we would better facilitate our fishing expeditions. At first we would share our catches with a social media group we formed, but this didn't give us the opportunity of actually keeping track of what was caught, when where or how the catches were made.</p>
                <p>So after a couple of <em>design meetings</em> at our local pub, the initial design of our Fishing Log App was born and we haven't looked back since.</p>
            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>2 November 2015</dd>
                            <dt>No of registered Users</dt>
                            <dd>{{noOfUsers}}</dd>
                            <dt>Total Catches Logged</dt>
                            <dd>{{noOfCatches}}</dd>
                            <dt>Latest App Version</dt>
                            <dd>{{latestAppVersion}}</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2><em> Fishing panel</em> </h2>
                <ul class="media-list">
                    <li><h3>John Watson</h3><h5><em>Web Designer - Likes to write essays about the intricacies of tying knots.</em></h5></li>
                    <li><h3>Peter Williams</h3><h5><em>Financial Accountant - Claims to have given Nemo directions home.</em></h5></li>
                    <li><h3>Ben Morris</h3><h5><em>Sales Exec - Doesn't know who Dory is.</em></h5></li>
                    <li><h3>Kyle Brown</h3><h5><em>Lawyer - Persuaded Willy to go vegan</em></h5></li>
                    <li><h3>Garth Clinton</h3><h5><em>Engineer - Has plans to build an amusement park for Stingrays.</em></h5></li>
                    <li><h3>James Stevens</h3><h5><em>Software Developer - Wants to be a Great White charmer, water flute in hand.</em></h5></li>
                </ul>
            </div>
       </div>
    </div>
