<div class="py-5" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> Links</div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <a ui-sref="app">Home</a>
                            </li>
                            <li>
                                <a ui-sref="app.newcatch">New Catch</a>
                            </li>
                            <li>
                                <a ui-sref="app.catcheslookup">Catches Lookup</a>
                            </li>
                            <li>
                                <a ui-sref="app.specieslookup">Species Lookup</a>
                            </li>
                            <li>
                                <a ui-sref="app.knotslookup">Knots Lookup</a>
                            </li>
                            <li>
                                <a ui-sref="app.bragging">Bragging Rights</a>
                            </li>
                            <li>
                                <a ui-sref="app.aboutus">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> Address</div>
                    <div class="card-body">
                        <address> 55, Connor Road
                            <br> Canary Warf Bay, Cape Town
                            <br> South Africa
                            <br>
                            <i class="fa fa-phone"></i>: +82 555 8899
                            <br>
                            <i class="fa fa-fax"></i>: +82 555 8899
                            <br>
                            <i class="fa fa-envelope"></i>:
                            <a href="mailto:admin@safl.net"> admin@safl.net</a>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> Social Media</div>
                    <div class="card-body">
                        <div class="btn-group">
                            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/">
                                <i class="fa fa-youtube"></i>
                            </a>
                            <a class="btn btn-social-icon" href="mailto:">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
