<div class="py-5" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" >
                <div class="col-md-12" ui-sref="app.newcatch">
                    <img class="img-fluid d-block float-right" src="../images/logos/home-catches-card.png">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Log a new Catch</h5>
                            <p class="card-text">Lets log that beauty!!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 px-4" ui-sref="app.catcheslookup">
                        <div class="card">
                            <img class="card-img-top" src="../images/logos/home-catches-lookup-card.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Find a previous Catch</h5>
                                <p class="card-text">Search through all uploaded catches to find that special one!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" ui-sref="app.knotslookup">
                    <img class="img-fluid d-block float-right" src="../images/logos/home-knots-card.png">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Find out how to tie a knot</h5>
                            <p class="card-text">Some quick example pictures of how to tie that favourite Knot.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" ui-sref="app.specieslookup">
                    <img class="img-fluid d-block float-right" src="../images/logos/home-species-card.png">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Look for an unknown Specie</h5>
                            <p class="card-text">Caught something weird, have a look through our list of fish found in the South Africa waters</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
