<div class="modal-header">
    <h3 class="modal-title">New Catch Uploaded!</h3>
</div>
<div class="modal-body">
    <form>
        <!--<div class="checkbox" ng-repeat="item in products">-->
            <!--<label>-->
                <!--<input type="checkbox" ng-click="chkChange(item)" ng-checked="selected.indexOf(item) !== -1"/>-->
                <!--{{item}}-->
            <!--</label>-->
        <!--</div>-->
    </form>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ngDialog.close()">OK</button>-->
    <div class="ngdialog-buttons">
    <!--<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>OK</button>-->
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=cancel("OK")>OK</button>
    </div>
    <!--<button class="btn btn-primary" ng-click=confirm("OK")>OK</button>-->
</div>